body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  display: grid;
  grid-template-rows: min-content auto;
  grid-template-columns: 250px auto;
  height: 100vh;
  overflow: scroll;
  color: black;
  background: 
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), 
    url("../public/nature_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: aliceblue;
  grid-column: 1 / span 2;

  font-family: "Arial";
}

h4 {
  font-size: large;
  font-family: "Trebuchet MS";
}

.signout-profile-photo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-photo {
  width: 30px;
  height: 30px;
  display: grid;
  justify-content: left;
  border-radius: 15px;
  border-style: solid;
}

form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  display: flex;
  margin-bottom: 10px;
  width: 600px;
  justify-content: center;
}

form .button {
display: block;
}

/* nav,
article {
  height: 100%;
} */

nav {
  background-color: #377BA6;
  font-family: "Trebuchet MS";
  padding: 10px;
}

nav p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

article {
  padding: 40px;
  display: grid;
  justify-content: center;
}

article .date {
  font-style: italic;
  font-family: "Trebuchet MS";
  color: black;
  font-size: small;
}

article .body {
  white-space: break-spaces;
  font-family: "Trebuchet MS";
  color: black;
  font-size: large;

  background-color: aliceblue;
  display: grid;
  grid-column: 1 / span 2;
  grid-template-rows: min-content auto;
  border-style: solid;
  border-radius: 5px;
}

button {
  font: "Trebuchet MS";
  font-size: small;
  background-color: aliceblue;
}

.error {
  font-family: "Trebuchet MS";
  background-color: rgb(186, 19, 19);
  color: rgb(197, 176, 55);
  padding: 5px;
}

@media (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
  }
}